<a href="https://colab.research.google.com/github/y001003/yeardream/blob/main/practice/DartPandas%EC%98%88%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
# pandas.read_html
# 지정한 홈페이지 주소에 있는 테이블()들을 DataFrame의 List로 반환

df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D', header = 0)[0] 

 

# header = 0 가져온 table의 첫 행을 DataFrame의 컬럼으로 설정

# [0] 지정한 URL의 첫번째 table을 DataFrame으로 반환

 

df.head()

   1 중화인민공화국  1,448,471,404    2021 공식 인구시계 세계에서 1번째로 인구가 많은 나라
0  2      인도     1406631781  2021.0                     공식 인구시계
1  3      미국      334805268  2021.0                     공식 인구시계
2  4   인도네시아      279134505  2021.0                     공식 인구시계
3  5    파키스탄      229488996  2021.0                     공식 인구시계
4  6   나이지리아      216741966  2021.0                     공식 인구시계

In [7]:
url = 'https://dart.fss.or.kr/'+'report/viewer.do?rcpNo=20220428800063&dcmNo=8636414&eleId=0&offset=0&length=0&dtd=HTML'
df1 = pd.read_html(url, header = 0)[0]
df1.head()

,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음.,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..1,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..2,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..3,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..4,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..5,※ 동 정보는 잠정치로서 향후 확정치와는 다를 수 있음..6
0,1. 연결실적내용,1. 연결실적내용,1. 연결실적내용,1. 연결실적내용,"단위 : 억원, %","단위 : 억원, %","단위 : 억원, %"
1,구분,구분,당기실적,전기실적,전기대비증감율(%),전년동기실적,전년동기대비증감율(%)
2,구분,구분,('22.1Q),('21.4Q),전기대비증감율(%),('21.1Q),전년동기대비증감율(%)
3,매출액,당해실적,777815,765655,1.59,653885,18.95
4,매출액,누계실적,777815,2796048,-,653885,18.95